.seance {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 80px;
  width: 278px;
  height: 100%;
  padding: 0 2px 0;
}

.seance .seance__players {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 278px;
  padding: 0 2px 0;
  background-color: #dddddd;
}

.seance .seance__filler {
  flex: 1 1 auto;
  margin-top: 2px;
  background-color: #ffffff;
}

.seance .group__presentation {
  padding: 10px;
}
