.chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 5px;
  background-color: #ffffff;
  font-family: Roboto;
}

.chat__messages {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999999 transparent;
}

.chat__messages__inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.chat__write {
  flex: 0 0 auto;
}

.chat__messages__message {
  display: flex;
  padding: 5px;
}

.chat__messages__message__picture {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.chat__messages__message__text {
  flex: 1 1 auto;
  padding: 0 10px;
}

.chat__messages__message__header {
  display: flex;
}

.chat__messages__message__name {
  font-weight: bold;
  color: #00a99d;
}

.chat__messages__message__time {
  display: flex;
  padding-left: 10px;
  color: #555555;
  opacity: 0.5;
}

.chat__messages__message__content {
  padding: 3px 0;
  line-height: 20px;
}

.chat__write {
  display: flex;
}

.chat__write > input {
  flex: 1 1 auto;
  padding: 10px 15px;
  border: 3px solid #f2f2f2;
  border-radius: 6px;
}

.chat__messages:-webkit-scrollbar {
  width: 11px;
}
.chat__messages:-webkit-scrollbar-track {
  background: #fafafa;
}
.chat__messages:-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 6px;
  border: 3px solid transparent;
}

/* webkit browsers */
.chat__messages::-webkit-scrollbar,
.chat__messages::-webkit-scrollbar-thumb {
  height: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.chat__messages::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
