.group {
  display: flex;
  background-color: #ffffff;
  height: 82px;
  width: 364px;
  cursor: pointer;
}

.group .group__picture {
  width: 82px;
  height: 82px;
  object-fit: cover;
}

.group__presentation {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  padding: 0 12px;
}

.group .group__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  color: #00a99d;
}

.group .group__description {
  font-size: 11px;
  line-height: 16px;
  color: #555555;
}

.group .group__days {
  margin: 10px 0 5px;
}
