.player{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
}

.player .player__picture{
    float: left;
    width: 50px;
    height: 100px;
    background: #f30c3b;
    margin-right: 10px;
}

.player .player__info{
    height: 100px;
    padding-left: 10px;
}

.player .player__info .player__info__username{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    padding: 5px;

    color: #00A99D;
}

.player .player__info .player__info__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #333333;
}

.player .player__info .player__info__classe{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;

    color: #555555;
    opacity: 0.5;
}

.player .player__info .player__info__experience{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #555555;

    mix-blend-mode: normal;
}

.player .player__detail{
    /*width: 100%;*/
    /*height: 50px;*/
    padding: 5px;
}

.player .player__detail .player__detail__classe{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #333333;
    mix-blend-mode: normal;
}

.player.selected{
    background: #00A99D;
}

.player.selected .player__info .player__info__username{
    color: #FFFFFF;
}

.player.selected .player__info .player__info__classe{
    color: #DBFFFC;
    opacity: 1;
}

.player.selected .player__info .player__info__experience{
    color: #DBFFFC;
    opacity: 1;
}
