html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: "Montserrat";
  background-color: transparent;
  cursor: text;
  margin: 0em;
  font: inherit;
  padding: 1px 2px;
  border: none;
  border-image: none;
}

input::placeholder {
  color: #aaaaaa;
}

input:focus {
  outline: none;
}
